/* Board */
.board-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  perspective: 300px;
}
.board {
  transition: 0.5s;
  width: 300px;
  height: 300px;
  position: relative;
  animation: scale 0.5s;
}
.board__drawing {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Square */
.board__square {
  background: transparent;
  width: 100px;
  height: 100px;
  float: left;
  outline: none;
  cursor: pointer;
}
.board__square svg {
  animation: scale 0.4s;
}

/* Winner's line */
.board__horizontal-line {
  animation: horizontal-line 1s;
  fill: red;
}
.board__vertical-line {
  animation: vertical-line 1s;
  fill: red;
}
.board__diagonal-line {
  animation: diagonal-line 1s;
  fill: red;
}
@keyframes scale {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}
@keyframes horizontal-line {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
@keyframes vertical-line {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}
@keyframes diagonal-line {
  from { width: 0; }
  to { width: 396px }
}
