.board-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  perspective: 300px;
}
.board {
  transition: 0.5s;
  transform: scale(0.9) rotateX(10deg);
  opacity: 0;
  width: 300px;
  height: 300px;
  position: relative;
}
.square {
  background: transparent;
  width: 33.33%;
  height: 33.33%;
  border: 3px solid white;
  float: left;
  outline: none;
  cursor: pointer;
}
.square p {
  font-size: 50px;
  color: white;
}
.square.p0,
.square.p1,
.square.p2 {
  border-top: none;
}
.square.p0,
.square.p3,
.square.p6 {
  border-left: none;
}
.square.p2,
.square.p5,
.square.p8 {
  border-right: none;
}
.square.p6,
.square.p7,
.square.p8 {
  border-bottom: none;
}

/* Initial transition */
.board-container.show .board {
  transform: scale(1) rotateX(0deg);
  opacity: 1;
}
