.board-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  perspective: 300px;
}
.board {
  transition: 0.5s;
  transform: scale(0.9) rotateX(10deg);
  opacity: 0;
  width: 300px;
  height: 300px;
  position: relative;
}
.cell {
  background: transparent;
  width: 33.33%;
  height: 33.33%;
  border: 3px solid white;
  float: left;
  outline: none;
  cursor: pointer;
}
.cell.p0,
.cell.p1,
.cell.p2 {
  border-top: none;
}
.cell.p0,
.cell.p3,
.cell.p6 {
  border-left: none;
}
.cell.p2,
.cell.p5,
.cell.p8 {
  border-right: none;
}
.cell.p6,
.cell.p7,
.cell.p8 {
  border-bottom: none;
}

/* Initial transition */
.board-container.show .board {
  transform: scale(1) rotateX(0deg);
  opacity: 1;
}
