@import url('https://fonts.googleapis.com/css?family=Aldrich');

* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: #E91E63;
  color: white;
  font-family: 'Aldrich', sans-serif;
  font-size: 20px;
}
html, body, #root, .app {
  height: 100%;
}
