.scoreboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.scoreboard .wrapper {
  max-width: 600px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.player {
  width: 50%;
  text-align: center;
  padding: 10px;
}
.player-turn {
  border-bottom: 1px solid white;
}
