.scoreboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.scoreboard {
  max-width: 600px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.scoreboard__player {
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 0;
  height: 40px;
  fill: #191925;
  color: #191925;
}
.scoreboard__score {
  font-size: 28px;
  display: inline;
}
.scoreboard__player--turn {
  background: #191925;
  fill: #E91E63;
  color: #E91E63;
}
.scoreboard__player svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
